<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Thymeleaf</title>
    <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script th:src="@{'/javascripts/application.js'}"></script>
    <link th:href="@{'/stylesheets/page_css.css'}" rel="stylesheet" type="text/css"/>

</head>
<body>
Hello World
<button id="button">Click Me!</button>
</body>
</html>
